<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta charset="utf-8">
	<title>smooster jquery api Example</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="robots" content="index,follow">
	<!--<link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">-->
	<link href="media/css/style.css" rel="stylesheet">
	<link href="media/css/plus.css" rel="stylesheet">
	<!--[if lte IE 8]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
	<div id="wrapper">
	    <header>
	    </header>

	    <div id="main">
	    	<h1>smooster jquery api Example</h1>
	    	<p>This is an example for the smooster jquery api</p>
				<section id="news">
				</section>
				<p><a href="#" id="next">Next</a></p>
	    </div>

	    <footer>
	    </footer>
	</div>

	<script src="http://code.smooster.com/libs/jquery/1.9.1/jquery.js" type="text/javascript"></script>
	<script src="http://code.smooster.com/libs/hogan/3.0.2/hogan.min.js"></script>
	<script src="media/js/smooster.js" type="text/javascript"></script>
	<script src="media/js/functions.js" type="text/javascript"></script>
	<script type="text/x-jsrender" id="news_template">
        <article id="article_per_page_n_{{id}}">
          	<h1><a href="{{url}}" data-id="{{id}}">{{& headline}}</a></h1>
						<p class="date">{{& date}}</p>
			    		<div class="picture">
			    			{{& picture}}
						</div>
			    		<div class="text">
                          {{& teaser}}
		    			</div>
		    			<div class="blog-article">
		    				<a href="{{url}}" data-id="{{id}}">Weiterlesen</a>
		    			</div>
		    			<div class="press-border">
		    			</div>
          </article>
	</script>

</body>
</html>
